image: Visual Studio 2015

configuration:
  - Release

cache:
  - build

build_script:
  - cmd: set PATH=%APPVEYOR_BUILD_FOLDER%\build\__install__\bin\;%PATH%
  - cmd: set CTEST_OUTPUT_ON_FAILURE=1
  - cmd: set QT_QPA_PLATFORM=offscreen
  - cmd: C:\Python36-x64\python.exe scripts\python\build.py --build_path %APPVEYOR_BUILD_FOLDER%\build --colmap_path . --boost_path C:\Libraries\boost_1_63_0 --qt_path C:\Qt\5.9\msvc2015_64 --build_type %CONFIGURATION%
  - cmd: cmake --build %APPVEYOR_BUILD_FOLDER%\build\colmap\build --config %CONFIGURATION% --target RUN_TESTS
