BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^"colmap'
    Priority: 1
  - Regex:    '^"glomap'
    Priority: 2
  - Regex:    '^"pycolmap'
    Priority: 3
  - Regex:    '^"thirdparty'
    Priority: 4
  - Regex:    '^<[[:alnum:]_]+>'
    Priority: 5
  - Regex:    '.*'
    Priority: 6
SortIncludes: true
