Checks: >
  performance-*,
  concurrency-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -bugprone-unchecked-optional-access,
  cppcoreguidelines-virtual-class-destructor,
  google-explicit-constructor,
  google-build-using-namespace,
  readability-avoid-const-params-in-decls,
  clang-analyzer-core*,
  clang-analyzer-cplusplus*,
WarningsAsErrors: '*'
FormatStyle: 'file'
User: 'user'
