BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^"colmap'
    Priority: 1
  - Regex:    '^"thirdparty'
    Priority: 2
  - Regex:    '^<[[:alnum:]_]+>'
    Priority: 3
  - Regex:    '.*'
    Priority: 4
SortIncludes: true
