# Custom files
LocalConfig.cmake
src/util/version.h

# Custom directories
.idea/
.vscode
.DS_Store
build*/
install-debug/
install-release/
data/
doc/_build

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
