[Desktop Entry]                                                                             
Name=Colmap                                                                                 
Comment=Structure-from-Motion and Multi-View Stereo                                         
Exec=colmap gui                                                                             
Icon=colmap                                                                                 
Terminal=false                                                                              
Categories=Graphics;3DGraphics;                                                             
Keywords=3d;structure-from-motion;multi-view-stereo;                                        
Type=Application                                                                            
