trigger:
  - dev

jobs:
  - template: build-windows.yaml
    parameters:
      visualStudioVersion: 2019
  - template: build-windows.yaml
    parameters:
      visualStudioVersion: 2022
  - template: build-ubuntu.yaml
    parameters:
      displayName: 'Ubuntu 20.04'
      ubuntuVersion: 20.04
  - template: build-ubuntu.yaml
    parameters:
      displayName: 'Ubuntu 20.04 (CUDA)'
      ubuntuVersion: 20.04
      cudaEnabled: true
  - template: build-ubuntu.yaml
    parameters:
      displayName: 'Ubuntu 22.04'
      ubuntuVersion: 22.04
      e2eTestsEnabled: true
  - template: build-ubuntu.yaml
    parameters:
      displayName: 'Ubuntu 22.04 (CUDA)'
      ubuntuVersion: 22.04
      cudaEnabled: true
  - template: build-ubuntu.yaml
    parameters:
      displayName: 'Ubuntu 22.04 (ASan)'
      ubuntuVersion: 22.04
      asanEnabled: true
  - template: build-ubuntu.yaml
    parameters:
      displayName: 'Ubuntu 22.04 (ClangTidy)'
      ubuntuVersion: 22.04
      cmakeBuildType: ClangTidy
  - template: build-mac.yaml
    parameters:
      displayName: 'Mac 11'
      macVersion: 11
  - template: build-mac.yaml
    parameters:
      displayName: 'Mac 12'
      macVersion: 12
  - template: build-docker.yaml
    parameters:
      displayName: 'Docker'
