trigger:
- dev

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: |
    sudo apt update && sudo apt install -y \
      build-essential \
      libboost-program-options-dev \
      libboost-filesystem-dev \
      libboost-graph-dev \
      libboost-system-dev \
      libboost-test-dev \
      libeigen3-dev \
      libsuitesparse-dev \
      libfreeimage-dev \
      libgoogle-glog-dev \
      libgflags-dev \
      libglew-dev \
      qtbase5-dev \
      libqt5opengl5-dev \
      libcgal-dev \
      libcgal-qt5-dev
  displayName: 'Install dependencies'
