trigger:
  - dev

jobs:
  - template: build-windows.yaml
    parameters:
      visualStudioVersion: 2019
  - template: build-windows.yaml
    parameters:
      visualStudioVersion: 2022
  - template: build-ubuntu.yaml
    parameters:
      displayName: 'Ubuntu 18.04'
      ubuntuVersion: 18.04
  - template: build-ubuntu.yaml
    parameters:
      displayName: 'Ubuntu 20.04'
      ubuntuVersion: 20.04
  - template: build-ubuntu.yaml
    parameters:
      displayName: 'Ubuntu 20.04 (CUDA)'
      ubuntuVersion: 20.04
      cudaEnabled: true
  - template: build-ubuntu.yaml
    parameters:
      displayName: 'Ubuntu 20.04 (ASan)'
      ubuntuVersion: 20.04
      asanEnabled: true
  - template: build-mac.yaml
    parameters:
      displayName: 'Mac 10.15'
      macVersion: 10.15
  - template: build-mac.yaml
    parameters:
      displayName: 'Mac 11'
      macVersion: 11
